/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url('../images/cover-image.png');
  --title-color: #DB00FF;
  --description-color: #000028;
  --description-bg: #FF0070;
  --accent-color: #FF0070;
  --hover-color: #FF007066;
  --text-color: #F1B2CE;
  --title-accent-color: #FF0070;
  --bg-color: #000028;
  --button-color: var(--accent-color);
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}